
<div class="row">
    <div class="col s12 m4">
        <div class="card blue-grey darken-1">
            <div class="card-image">
                <img src="https://live.staticflickr.com/65535/51950908751_7fdef26baf_k.jpg" width="640" height="960">
                <span class="card-title"></span>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card blue-grey darken-1">
            <div class="card-image">
                <img src="https://live.staticflickr.com/65535/51951514365_1e87e5fda7_h.jpg" width="640" height="960">
                <span class="card-title"></span>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card blue-grey darken-1">
            <div class="card-image">
                <img src="https://live.staticflickr.com/65535/51949927937_7f1b723005_h.jpg" width="640" height="960">
                <span class="card-title"></span>
            </div>
        </div>
    </div>
    <!-- deuxième ligne -->
    <div class="col s12 m4">
        <div class="card blue-grey darken-1">
            <div class="card-image">
                <img src="https://live.staticflickr.com/65535/51951218899_157cd6d493_k.jpg" width="640" height="960">
                <span class="card-title"></span>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card blue-grey darken-1">
            <div class="card-image">
                <img src="https://live.staticflickr.com/65535/51950985063_86f881eb0a_k.jpg" width="640" height="960">
                <span class="card-title"></span>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card blue-grey darken-1">
            <div class="card-image">
                <img src="https://live.staticflickr.com/65535/51951514880_64fad0a65b_k.jpg" width="640" height="960">
                <span class="card-title"></span>
            </div>
        </div>
    </div>
    <!-- troisième ligne -->
    <div class="col s12 m4">
        <div class="card blue-grey darken-1">
            <div class="card-image">
                <img src="https://live.staticflickr.com/65535/51950985363_ae1a54b94f_k.jpg" width="640" height="960">
                <span class="card-title"></span>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card blue-grey darken-1">
            <div class="card-image">
                <img src="https://live.staticflickr.com/65535/51949928747_27c12ed5d8_k.jpg" width="640" height="960">
                <span class="card-title"></span>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card blue-grey darken-1">
            <div class="card-image">
                <img src="https://live.staticflickr.com/65535/51949929142_259d943c7e_k.jpg" width="640" height="960">
                <span class="card-title"></span>
            </div>
        </div>
    </div>
</div>

